{% extends 'enroll/index.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Change Password</h3>
   <hr>
   <form action="{% url 'password_change'  %}" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_old_password">Old password:</label>
        <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">    
    </div>
    <div class="mb-3">
        <label for="id_new_password1">New password:</label>
        <input type="password" name="new_password1" autocomplete="new-password" required aria-describedby="id_new_password1_helptext" id="id_new_password1">
        <span class="helptext" id="id_new_password1_helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>
    </div>

    <div class="mb-3">
        <label for="id_new_password2">New password confirmation:</label>
        <input type="password" name="new_password2" autocomplete="new-password" required aria-describedby="id_new_password2_helptext" id="id_new_password2">
        <span class="helptext" id="id_new_password2_helptext">Enter the same password as before, for verification.</span>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-danger">Submit</button>
    </div>


    <br>
    <div class="text-center text-primary fw-bold">
        <small>New to naparts?<a href="{% url 'login' %}" class="text-danger">Login</a></small>
    </div>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}


















