{% extends 'enroll/index.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Login</h3>
   <hr>
   <form action="{% url 'login'  %}" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password" required>
    </div>
    <small><a href="#">Forgot Password?</a></small> <br>
    <input type="submit" class="btn btn-primary mt-4" value="Login">
    <br>
    <div class="text-center text-primary fw-bold">
        <small>New to naparts? <a href="{% url 'signup' %}" class="text-danger">Create an Account</a></small>
    </div>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}
